<!DOCTYPE html>
<html>
  <head>
    <title>Splendid Food</title>
    <link rel="stylesheet" href="styles/style.min.css">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/ico">
  </head>
  <body>

    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="#" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="views/products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="views/past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>
        <a @click="toggleCart" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart (0)</span>
        </a>
      </header>

      <div class="splash-container">
        <div class="splash">
          <h1>Splendid Food</h1>
        </div>
      </div>

      <main class="wrapper">

        <h2>Recommended</h2>

        <div class="recommended">
          <div v-for="(productData,i) in inventory.slice(0,3)" :key="i">
            <div class="card">
              <div class="card-title">
                Carrots
              </div>
              <div class="card-body">
                <i class="icofont-10x icofont-carrot"></i>
                <form>
                  <div class="row">
                    <div class="cell">
                      <label>Type:</label>
                    </div>
                    <div class="cell">
                      <em>{{productData.name}}</em>
                    </div>
                  </div>
                  <div class="row">
                    <div class="cell">
                      <label>Price:</label>
                    </div>
                    <div class="cell">
                      ${{productData.price["USD"]}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="cell">
                      <label>Quantity:</label>
                    </div>
                    <div class="cell">
                      <input type="number" v-model.number="productData.quantity">
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <button @click="addToCart(productData.name,i)" class="btn btn-light">
                  Add to cart
                </button>
              </div>
            </div>
          </div>
          

        </div>

      </main>

      <footer>
      </footer>
      <cart-process v-if="disCart" @remove-delete="dohungmanh" :toggle="toggleCart" :cart="cart" :inventory="inventory"></cart-process>
    </div>
      
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data() {
          return {
            inventory: [],
            cart: {},
            disCart:false
          }
        },
        methods: {
          addToCart(name,type) {
            console.log(name);
            console.log(type);
            if(this.cart[name]==undefined){this.cart[name]=0}
            this.cart[name] += this.inventory[type].quantity;
          },
          toggleCart(){
            this.disCart=!this.disCart
          },
          dohungmanh(name){ 
            console.log("name do hung",name);
            delete this.cart[name];
          },
          
        },
        async mounted() {
          const res=await fetch("./food.json");
          const data=await res.json();
          this.inventory=data;
        },
      });
      app.component("cart-process",{
        props:["toggle","cart","inventory"],
        methods: {
          getPricePro(named){
            var found = this.inventory.find(e => e.name === named).price.USD;
            return found;
          },
          countPer(named){
            var found = this.getPricePro(named);
            var quantity=this.cart[named];
            return parseInt(found*quantity).toFixed(2);
          },
          total(){
            var totalPrice=0;
            for (let i = 0; i <  Object.keys(this.cart).length; i++) {
              totalPrice=parseInt(totalPrice);
              totalPrice+=parseInt(this.countPer(Object.keys(this.cart)[i]));
              
            }
            return Number.parseFloat(totalPrice).toFixed(2);
          },
          removePro(name){
            this.$emit('remove-delete', name)
          }
        },
        template:`<aside class="cart-container">
        <div class="cart">
          <h1 class="cart-title spread">
            <span>
              Cart
              <i class="icofont-cart-alt icofont-1x"></i>
            </span>
            <button @click="toggle" class="cart-close">&times;</button>
          </h1>

          <div class="cart-body">
            <table class="cart-table">
              <thead>
                <tr>
                  <th><span class="sr-only">Product Image</span></th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Total</th>
                  <th><span class="sr-only">Actions</span></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(value, name, index) in cart">
                  <td><i class="icofont-carrot icofont-3x"></i></td>
                  <td>{{name}}</td>
                  <td>\${{getPricePro(name)}}</td>
                  <td class="center">{{value}}</td>
                  <td>\${{countPer(name)}}</td>
                  <td class="center">
                    <button class="btn btn-light cart-remove" @click="removePro(name)">
                      &times;
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <p class="center" v-if="!Object.keys(cart).length"><em>No items in cart</em></p>
            <div class="spread">
              <span><strong>Total:</strong> \${{total()}}</span>
              <button class="btn btn-light">Checkout</button>
            </div>
          </div>
        </div>
      </aside>`
      });

      app.mount('#app')
    </script>
  </body>
</html>
